{% extends 'base.html.twig' %}

{% block title %}Hello CarsController!{% endblock %}

{% block stylesheets %}
{{ parent() }}


<style>
   .name_audi{margin-top:100px}
</style>
{% endblock %}

{% block body %}

<p class="name_audi">FERRARI</p>

{% endblock %}
