{% extends 'base.html.twig' %}

{% block title %}Formules{% endblock %}

{% block stylesheets %} 
{{ parent() }}
<style> 
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; margin-top:100px }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .li_login{display:none}
    .li_register{display:none}
    .li_compte{display:block}
</style>
{% endblock %}

{% block body %}


<div class="example-wrapper">

<li> <a href="{{ path('user') }}">Profil</a></li>    

<P>Voic les Formules</p>

 

    
</div>
{% endblock %}